#dlbox{
	height:100%;
	width:100%;
	background:#fff;
}
.header{
	height:3.5rem;
	width:100%;
}
.header1{
	float: left;
	height:3.5rem;
	width:42%;
	padding-left:4%;
	line-height:3.5rem;
	color:#202020;
	font-size:0.8rem;
}
.header2{
	float: left;
	height:3.5rem;
	width:51%;
	font-size:0.8rem;	
	line-height:3.5rem;
	color:#474747;
}
.dlpic{
	height:6.875rem;
	width:100%;
	text-align: center;
	padding-top:2.875rem
}
.dlpic img{
	width:2.5rem
}
.uname{
	height:1.85rem;
	width:70%;
	margin:3% 10%;
	outline: none;
	padding-left:10%;
	border-bottom:1px solid #000;
	font-size:0.85rem;
	background: url(../img/denglu1_7.jpg) no-repeat left ;
	background-size:10% ;
}
.upwd{
	height:1.85rem;
	width:70%;
	margin:3% 10%;
	outline: none;
	padding-left:10%;
	border-bottom:1px solid #000;
	font-size:0.85rem;
	background: url(../img/denglu1_8.jpg) no-repeat left ;
	background-size:10% ;
}
.np a{
	font-size:0.7rem;
	color:#393939;
	margin-left:10%;
}
.btn{
	height:1.85rem;
	width:75%;
	margin:5% 10%;
	background:#000;
	color:#fff;
	font-size:0.85rem;
}
.shejiao1{
	margin:2.125rem 0 1.375rem 0;
	height:0.85rem;
	width:100%;
	text-align:center;
	color:#ececec;
	font-size:0.8rem;
	background:url(../img/denglu1_2.jpg) no-repeat 0.28rem 0.5rem,url(../img/denglu1_2.jpg) no-repeat 12rem 0.5rem;
	background-size:30% 
}
.shejiao2 img{
	width:2.25rem;
	margin:0 0.9rem;
}
